<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Step On You</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="stylesheets/main.css">
  <!-- endbuild -->
</head>
<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- MAIN VIEW -->
      <div class="container">
        <div class="header">
          <h3 class="text-muted">Step On You</h3>
        </div>


        <!-- ROOM VIEW -->
        <div class="row" id='roomView'>
          <div class='col-sm-6'> 
            <div class='row'>
              <div class='col-sm-4'>
                <h4 id='roomStatus1'>0/4</h4>
              </div>

              <div class='col-sm-8'>
                <button id='buttonRoom0' type="button" class="btn btn-success" onclick='onRoomButtonClick(0)'>JOIN ROOM</button>  
              </div>
            </div>
          </div>

          <div class='col-sm-6'> 
            <div class='row'>
              <div class='col-sm-4'>
                <h4 id='roomStatus2'>0/4</h4>
              </div>

              <div class='col-sm-8'>
                <button id='buttonRoom1' type="button" class="btn btn-success" onclick='onRoomButtonClick(1)'>JOIN ROOM</button>  
              </div>
            </div>
          </div>
        </div>

        <!-- CHAR VIEW -->
        <div>
          <div class='row'>
            <div class='col-sm-3'>
              <img class='displayed' src="gameImages/Character_Angel.png">
              <h4>Angel</h4>
            </div>

            <div class='col-sm-3'>
              <img class='displayed' src="gameImages/Character_Devil.png">
              <h4>Devil</h4>
            </div>

            <div class='col-sm-3'>
              <img class='displayed' src="gameImages/Character_Green.png">
              <h4>Green Thing</h4>
            </div>

            <div class='col-sm-3'>
              <img class='displayed' src="gameImages/Character_White.png">
              <h4>White Thing</h4>
            </div>
          </div>
        </div>

        <!-- GAME CANVAS -->
        <div id="gameCanvas">
        </div>
		
		<!--<div class="main">
			<h2>Device Motion</h2>
			<table>
				<tr>
					<td>orientation</td>
					<td id="dori"></td>
				</tr>
				<tr>
					<td>devicemotion</td>
					<td id="dmotion"></td>
					<td>rotation</td>
					<td id="calcr"></td>
				</tr>
				<tr>
					<td>deviceorientation</td>
					<td id="dmOrient"></td>
					<td>|</td>
					<td id="alph"></td>
					<td>|</td>
					<td id="bet"></td>
					<td>|</td>
					<td id="gamm"></td>
				</tr>
				<tr>
					<td>Branch</td>
					<td id="mbranch"></td>
				</tr>
				<tr>
					<td>Controls</td>
					<td id="tleft"></td>
					<td id="tright"></td>
					<td id="tjump"></td>
				</tr>
			</table>
		</div>-->
        
        <div class="footer">
          <p><span class="glyphicon glyphicon-heart"></span> CS4344 StepOnYou Team</p>
        </div>

      </div>


      <!-- build:js(.) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/kineticjs/kinetic.js"></script>
      <script src="bower_components/sockjs/sockjs.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    </script>

        <!-- build:js(.) scripts/plugins.js -->
        <script src="bower_components/bootstrap/js/affix.js"></script>
        <script src="bower_components/bootstrap/js/alert.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/bootstrap/js/tooltip.js"></script>
        <script src="bower_components/bootstrap/js/modal.js"></script>
        <script src="bower_components/bootstrap/js/transition.js"></script>
        <script src="bower_components/bootstrap/js/button.js"></script>
        <script src="bower_components/bootstrap/js/popover.js"></script>
        <script src="bower_components/bootstrap/js/carousel.js"></script>
        <script src="bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap/js/collapse.js"></script>
        <script src="bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

		<!-- Load Dependent JS -->
    <script src="javascripts/Events.js"></script>
		<script src="javascripts/visualizer/Configurations.js"></script>
		<script src="javascripts/visualizer/Obj.js"></script>
		<script src="javascripts/visualizer/Player.js"></script>
    <script src="javascripts/visualizer/Brick.js"></script>
		<script src="javascripts/visualizer/Visualizer.js"></script>
    
    <script src="javascripts/serviceHelper/serviceHelper.js"></script>
    <script src="javascripts/lobby/LobbyManager.js"></script>

    <script src="javascripts/engine/GameEngine.js"></script>
    <script src="javascripts/engine/Physics.js"></script>
    <script src="javascripts/engine/Body.js"></script>
    <script src="javascripts/engine/Player.js"></script>
		<!-- build:js({app,.tmp}) scripts/main.js -->
		<script src="javascripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
